a {
	font-family: helvetica, sans serif;
	color: white;
}

.nav-link {
	color: white;
}

.body-container {
	background-color: #c7fcec;

}
.btn-primary {
	background-color: #c7fcec;
	border: #c7fcec;

}

.cardback {
	background-color: white;
	
}
